<h1>Contact#contact_internal</h1>
<p>New Contact Info:</p>
<p>
    Name:<%= @contact.name %>

    Title: <%= @contact.title %>

    Email: <%= @contact.email %>

    Organization: <%= @contact.organization %>
    
    Message: <%= @contact.message %>
</p>